In [10]:
import pandas as pd
col = ['win_team','1','1score','2','2score','3','3score','4','4score','5','5score']
learn_data = pd.DataFrame(columns = col)

In [11]:
col

['win_team',
 '1',
 '1score',
 '2',
 '2score',
 '3',
 '3score',
 '4',
 '4score',
 '5',
 '5score']

In [12]:
learn_data

Empty DataFrame
Columns: [win_team, 1, 1score, 2, 2score, 3, 3score, 4, 4score, 5, 5score]
Index: []