In [18]:
import sqlite3

conn = sqlite3.connect('loldata.db')
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS Log_data;")
cur.execute(f"""CREATE TABLE Log_data (
                "ID" INTEGER NOT NULL PRIMARY KEY,
                "Input_name" NVARCHAR(160) NOT NULL,
                "Ingame" bool,
                "1pick_id" NVARCHAR(160),
                "1pick" NVARCHAR(160),
                "1score" INTEGER,
                "2pick_id" NVARCHAR(160),
                "2pick" NVARCHAR(160),
                "2score" INTEGER,
                "3pick_id" NVARCHAR(160),
                "3pick" NVARCHAR(160),
                "3score" INTEGER,
                "4pick_id" NVARCHAR(160),
                "4pick" NVARCHAR(160),
                "4score" INTEGER,
                "5pick_id" NVARCHAR(160),
                "5pick" NVARCHAR(160),
                "5score" INTEGER,
                "6pick_id" NVARCHAR(160),
                "6pick" NVARCHAR(160),
                "6score" INTEGER,
                "7pick_id" NVARCHAR(160),
                "7pick" NVARCHAR(160),
                "7score" INTEGER,
                "8pick_id" NVARCHAR(160),
                "8pick" NVARCHAR(160),
                "8score" INTEGER,
                "9pick_id" NVARCHAR(160),
                "9pick" NVARCHAR(160),
                "9score" INTEGER,
                "10pick_id" NVARCHAR(160),
                "10pick" NVARCHAR(160),
                "10score" INTEGER               
                );""")
conn.commit()
cur.close
conn.close

In [12]:
for i in range(len(gameId_list)):
    try:
        import sqlite3

        conn = sqlite3.connect('loldata.db') # 데이터 베이스 생성
        cur = conn.cursor()


        cur.execute(f"""INSERT OR REPLACE INTO Matchdata("Id", "gameid", "win_team",  "1pick", "1score",
                                                                                        "2pick", "2score",
                                                                                        "3pick", "3score",
                                                                                        "4pick", "4score",
                                                                                        "5pick", "5score",
                                                                                        "6pick", "6score",
                                                                                        "7pick", "7score",
                                                                                        "8pick", "8score",
                                                                                        "9pick", "9score",
                                                                                        "10pick", "10score"
                                                                            )
                    VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);""", gameId_list[i])

        conn.commit()
        cur.close
        conn.close
    except:
        pass

In [26]:
import sqlite3

conn = sqlite3.connect('loldata.db') # 데이터 베이스 생성
cur = conn.cursor()
cur.execute("SELECT COUNT(ld.ID) from Log_data ld")
print(cur.fetchone())

(0,)

In [10]:
import psycopg2

conn = psycopg2.connect(
    host="satao.db.elephantsql.com",
    database="ljwsehvw",
    user="ljwsehvw",
    password="f8GNVPTHztqqk13i-cO5VQUVLbaHrBvm"
    )

In [14]:
cur = conn.cursor()
cur.execute("ROLLBACK")
cur.execute("DROP TABLE IF EXISTS log_data;")
cur.execute("""CREATE TABLE log_data (
                "ID" INTEGER NOT NULL PRIMARY KEY,
                "Input_name" VARCHAR(160) NOT NULL,
                "1pick_id" VARCHAR(160),
                "1pick" VARCHAR(160),
                "1score" INTEGER,
                "2pick_id" VARCHAR(160),
                "2pick" VARCHAR(160),
                "2score" INTEGER,
                "3pick_id" VARCHAR(160),
                "3pick" VARCHAR(160),
                "3score" INTEGER,
                "4pick_id" VARCHAR(160),
                "4pick" VARCHAR(160),
                "4score" INTEGER,
                "5pick_id" VARCHAR(160),
                "5pick" VARCHAR(160),
                "5score" INTEGER,
                "6pick_id" VARCHAR(160),
                "6pick" VARCHAR(160),
                "6score" INTEGER,
                "7pick_id" VARCHAR(160),
                "7pick" VARCHAR(160),
                "7score" INTEGER,
                "8pick_id" VARCHAR(160),
                "8pick" VARCHAR(160),
                "8score" INTEGER,
                "9pick_id" VARCHAR(160),
                "9pick" VARCHAR(160),
                "9score" INTEGER,
                "10pick_id" VARCHAR(160),
                "10pick" VARCHAR(160),
                "10score" INTEGER               
                )""")
conn.commit()
cur.close
conn.close